<% if @departamento.errors.any? %>
  <h2>Os erros a seguir impediram que o departamento seja criado:</h2>
  <ul>
  <% @departamento.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @departamento do |f| %>
  <p>
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back to departamentos listing', departamentos_path %>
<% end %>
